 /* Fonts from original site */
      /* Archivo (from original site) */
      @font-face {
        font-family: "Archivo";
        src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/RJX4LSNI55LNZ6QWGQALARVRCFUYJDBE/HQPW4MP6HXPYZKXF6CFWGJ6ZOJBHKM3X/UHPKREF72UMVMQSKHPDQ42AVOZPICLOJ.woff2");
        font-display: swap;
        font-style: normal;
        font-weight: 700;
      }
      @font-face {
        font-family: "Archivo";
        src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/Y42A6OBFKHMPOGSSWNFHV6ASZ7RM3IXN/JID5YS2RALYHLX7OX7ELWBV5EF3C3ZQS/4QOBYYT6LF33KRDEW47UQ3DFAEWGYHD4.woff2");
        font-style: normal;
        font-weight: 900;
      }
      @font-face {
        font-family: "Archivo";
        src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/6YMFPXTZM4O4CKQMQTPPJXOSPTUX4FAO/ZXIGNMOKJZZB7E6EUWESUAHOSFM2XO7S/XUGABKNP6OBXLKQHWCCIUYO3F7G6VE6C.woff2");
        font-style: italic;
        font-weight: 900;
      }
      @font-face {
        font-family: "Archivo";
        src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/KQRPW26V7MQVOVIROFMASPZA32ATHS6D/IXS7QF2ZEPITRFFHZVK6DY26UIO5JY5W/3N3HRVZHDNQLKFXB3E335N7AXAKKO7QL.woff2");
        font-display: swap;
        font-style: italic;
        font-weight: 700;
      }
      @font-face {
        font-family: "Archivo Placeholder";
        src: local("Arial");
        ascent-override: 112.34%;
        descent-override: 41.50%;
        line-gap-override: 9.11%;
        size-adjust: 98.81%;
      }

      body {
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
      }
      .clrmmy {
        color: #1f1f1d;
      }
.text-muted {
    color: #1f1f1d !important;
}
.mgauto {
    margin: 0 auto;
}
.img-relative img, .img-relative video {
    border: 1px solid #d2d2d2;
}

@media (max-width: 640px) {
    br  {
        display: none;
    }
}

/* Card hover effects */
.card-container {
    transition: all 0.3s ease-out;
}

.card-image {
    overflow: hidden;
}

.card-image img {
    transition: transform 0.3s ease-out;
}

.card-border {
    border-color: #14110f;
    transition: border-color 0.3s ease-out;
}

.card-container:hover .card-border {
    border-color: #2463eb;
}

.card-circle {
    border-color: #14110f;
    transition: border-color 0.3s ease-out;
}

.card-container:hover .card-circle {
    border-color: #2463eb;
}

.card-container:hover h3,
.card-container:hover p {
    color: #ff8b1e;
    transition: color 0.3s ease-out;
}
.bgwhite {
    background-color: fff !important;
}